body{
 			
 				font-family: Showcard Gothic;
 			
			font-size: 18;
			color: #1E88E5;
		}
.bgimg{
	

     background-image: url(../image/home2.jpg);
      background-size: 80% 100%;
}
.bgimg2{
	
background-image: url(../image/home1.jpg);
}
h1{
	
	background-color: #ABEBC6 ;
	color: #7E5109; 
	text-align: center;
	border-color: #003333;
	padding: 3px;
	border-width: 2px;
	border-style: dashed;
}

p{

		text-align: center;
}
