body{
 			
 				font-family: Showcard Gothic;
 			font-style: bold;
			font-size: 28;
			color: #DC143C;
		}
.bgimg{
	

     background-image: url(../image/DEXm1zQXkAAB9gH.jpg);
      background-size: 80% 100%;
}

h1{
	
	background-color: #ABEBC6 ;
	color: #7E5109; 
	text-align: center;
	border-color: #003333;
	padding: 3px;
	border-width: 2px;
	border-style: dashed;
}

p{

		text-align: center;
}
